.flex {
    display: flex;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.fit-content {
    width: fit-content;
}