header h1 {
    text-transform: uppercase;
    color: var(--primary-font-color);
}

header .rating-stars {
    cursor: default;
}

header .rating-stars>i {
    background: linear-gradient(to bottom, var(--light-star-color) 0%, var(--dark-star-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .rating-stars>i:hover {
    background: var(--light-star-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


header p {
    font-size: x-small;
    margin: 0;
    color: var(--secondary-font-color)
}

header figure {
    position: relative;
    width: fit-content;
    margin: 0;
}

header figure>figcaption {
    color: var(--primary-background-color);
    display: block;
    position: absolute;
    float: left;
    bottom: 0.5em;
    left: 0.5em;
}