h1 {
    color: var(--primary-font-color);
}

figure {
    position: relative;
    width: fit-content;
    margin: 0;
}

figcaption {
    color: var(--primary-background-color);
    display: block;
    position: absolute;
    float: left;
    bottom: 0.5em;
    left: 0.5em;
}