nav>ul {
    width: -webkit-fill-available;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 2em;
    padding-right: 2em;
    margin-right: 0.5em;
    background-color: lightgrey;
}

nav>div {
    background-color: lightgrey;
    height: fit-content;
}

.vl {
    border-left: 1px solid dimgrey;
}