nav {
    font-size: small;
    text-transform: uppercase;
}

nav>ul {
    width: -webkit-fill-available;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 0.5em;
    background-color: var(--secondary-background-color);
}

nav>ul>li {
    text-align: center;
    margin: 0.5em;
}

nav>ul>li>div:nth-child(odd) {
    color: var(--primary-font-color);
}

nav>div {
    background-color: var(--secondary-background-color);
    padding: 0.5em;
    width: max-content;
    height: auto;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
}

nav>div>p {
    white-space: nowrap;
    margin: 0;
}

nav>div>p:first-child {
    color: var(--primary-font-color);
    font-weight: bold;
}

nav>div>p:last-child {
    color: var(--secondary-font-color);
    font-size: smaller;
    text-transform: none;
}

.vl {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-left: 1px solid var(--secondary-font-color);
}