section>hr {
    position: relative;
    border: none;
    height: 2em;
    background: var(--secondary-background-color);
}

section>h2 {
    text-transform: uppercase;
    color: var(--primary-font-color);
}

section>article>h3 {
    width: 100%;
    text-transform: uppercase;
    color: var(--secondary-font-color);
    background: var(--secondary-background-color);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

section>article>ul {
    text-align: left;
}

section>article>ul>li {
    margin-bottom: 0.75em;
}