:root {
    --theme-bg1: #3f598c;
    --theme-bg2: #8390b0;
    --theme-white: #ece9f0;
    --theme-text: #171312;
    --theme-link: #285b00;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dakr3);
    background: var(--theme-bg2);
}

.preload {
    transition: none !important;
}

hr {
    border: 0;
}

a {
    text-decoration: unset;
    font-weight: bold;
    font-style: oblique;
    color: var(--theme-link);
    text-shadow: var(--theme-white) 1px -1px 5px;
}

a:hover {
    color: var(--theme-white);
    text-shadow: var(--theme-link) 1px 0 10px;
}

a:active {
    text-shadow: var(--theme-white) 1px 0 10px;
}

.flex-height-section {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
    height: 100vh;
}

.centered-text {
    text-align: center;
}

.horizontal-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.profile-picture {
    width: fit-content;
    text-align: center;
}

.profile-picture > figcaption {
    padding-top: 2em;
    font-size: small;
}

.picture-zoom-container {
    overflow: hidden;
    width: 320px;
    height: 320px;
    border-radius: 30% 70% 60% 40% / 30% 40% 60% 70%;
    box-shadow: 10px 10px 5px 0px var(--theme-bg1);
    transition: all 2s ease-in-out;
}

.picture-zoom-container img {
    width: 100%;
    height: 100%;
    transition: all 2s ease-in-out;
}

.picture-zoom-container:hover {
    border-radius: 70% 30% 40% 60% / 60% 70% 30% 40%;
    box-shadow: -10px -10px 5px 0px var(--theme-bg1);
}

.picture-zoom-container:hover img {
    transform: scale(1.1, 1.1);
}

ul {
    list-style-type: "\2800\25c6\2800";
}

li > * {
    margin: 0px;
}

.horizontal-section > li:nth-child(even) {
    text-align: right;
    direction: rtl;
    margin-right: 2em;
}

.contato-article > * {
    padding: 0.75em;
}

li {
    padding-bottom: 0.5em;
}

li:last-child {
    padding-bottom: unset;
}

.professional-experience {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    margin-top: 2em;
    margin-bottom: 5em;
}

.professional-experience > table {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.professional-experience > table tr {
    border-bottom: 2px solid var(--theme-text);
}

.professional-experience > table td {
    padding-top: 1em;
    padding-bottom: 1em;
}

.professional-experience > table td:nth-child(odd) {
    padding-right: 2em;
    text-align: right;
}

.professional-experience > table td:nth-child(even) {
    padding-right: 2em;
    text-align: left;
}

.professional-experience > table tr > td:last-child {
    font-size: small;
    font-style: oblique;
}
