:root {
    --synth-red: #f26389;
    --synth-purple: #d94395;
    --synth-dark: #1f0326;
    --synth-blue: #05f2db;
    --synth-yellow: #ffcc99;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dakr3);
    background: linear-gradient(
        176deg,
        var(--synth-purple),
        var(--synth-red),
        var(--synth-blue),
        var(--synth-yellow)
    );
}

.preload {
    transition: none !important;
}

hr {
    border: 0;
}

a {
    text-decoration: unset;
    font-weight: bold;
    font-style: oblique;
    color: var(--synth-dark);
    text-shadow: var(--synth-yellow) 1px -1px 5px;
}

a:hover {
    text-shadow: var(--synth-blue) 1px 0 10px;
}

a:active {
    text-shadow: var(--synth-yellow) 1px 0 10px;
}

.flex-height-section {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
    height: 100vh;
}

.centered-text {
    text-align: center;
}

.horizontal-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.profile-picture {
    width: fit-content;
    text-align: center;
}

.profile-picture > figcaption {
    padding-top: 2em;
    font-size: small;
}

.picture-zoom-container {
    overflow: hidden;
    width: 320px;
    height: 320px;
    border-radius: 30% 70% 60% 40% / 30% 40% 60% 70%;
    box-shadow: 10px 10px 5px 0px var(--synth-dark);
    transition: all 2s ease-in-out;
}

.picture-zoom-container img {
    width: 100%;
    height: 100%;
    transition: all 2s ease-in-out;
}

.picture-zoom-container:hover {
    border-radius: 70% 30% 40% 60% / 60% 70% 30% 40%;
    box-shadow: -10px -10px 5px 0px var(--synth-dark);
}

.picture-zoom-container:hover img {
    transform: scale(1.1, 1.1);
}

ul {
    list-style-type: "\25c6\2800";
}

ul > li > * {
    margin: 0px;
}

.horizontal-section > li:nth-child(even) {
    text-align: right;
    direction: rtl;
    margin-right: 2em;
}

.contato-article > * {
    padding: 0.75em;
}

.contato-article li {
    padding-bottom: 0.5em;
}

.contato-article li:last-child {
    padding-bottom: unset;
}

.professional-experience {
    display: flex;
    justify-content: center;
    align-items: center;
}

.professional-experience > table {
    width: 95%;
    border-collapse: collapse;
}

.professional-experience > table tr {
    text-align: center;
    border-bottom: 2px solid var(--synth-purple);
}

.professional-experience > table tr:last-child {
    border-bottom: unset;
}

.professional-experience > table td {
    background: linear-gradient(
        90deg,
        rgba(var(--synth-purple), 0) 0%,
        rgba(var(--synth-purple), 1) 50%,
        rgba(var(--synth-purple), 0) 100%
    );
}
