body {
    margin: 0;
    background: black;
    color: white;
    padding: 0 1em;
}

.horizontalFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.verticalFlex {
    display: flex;
    flex-direction: column;
}